:root {
  --foregroundColor: #111111;
}

body {
  background-color: #010101;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--foregroundColor);
}

h1 {
  font-size: 30px; 
}

label {
  font-size: 20px;
}

input {
  margin: 10px;
}

.inputsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#fileInput {
  width: 30%;
}

#inoputsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
