:root {
  --foregroundColor: #FD11FD;
}

body {
  background-color: #010101;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--foregroundColor);
  font-size: 40px; 
}

label {
  color: var(--foregroundColor);
  font-size: 30px;
}

input {
  margin: 10px;
}

#inputsBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
